body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9fbfb;
  color: #1e3a5f;
}




.form-container {
  max-width: 450px;
  margin: 80px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}




label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
  color: #1e3a5f;
}




input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #222;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}




.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #64a9cb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}


.btn:hover {
  background-color: #4e8eae;
}




h2 {
  text-align: center;
  margin-bottom: 25px;
}
